header{
    margin: 0;
    padding: 10px;
    text-align: center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0d0f36;
    color: #f1f6ce;
    
}

body{
    margin: 0;
    
}

input{
    width: 200px;
    height: 20px;
    border-radius: 8px;
}
.container-busca input{
    height: 25px;
}

main{
    padding: 10px;
    background: linear-gradient(#294380,#69d2cd,#b9f1d6,#f1f6ce);
}
.container-form{
    padding: 10px;
    background-color: #294380;
    margin: 0;
    border-radius: 10px;
    
}

.container-form label, .container-form h2{
    color: #b9f1d6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.container-busca{
    
    border-radius: 10px;
    padding: 10px;
    background-color: #69d2cd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.container-busca label, .container-busca h2{
    
    color: #0d0f36;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

footer p{
    
    text-align: center ;
    padding:50px;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0d0f36;
    color: #f1f6ce;
    
}

.btn-cadastrar{

    background-color: rgb(48, 131, 213);
    color: aliceblue;
    padding: 15px 25px;
    border: none;
    margin: 10px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.35 ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0,25);
    width: 99px;
    height: 100px;
   
 
}
button:hover{
    background-color: #b9f1d6;
     box-shadow: 0 4px 6px rgba(26, 26, 11, 0.922);

    
}
button:active{
    background-color: #52a77f;
}

button:visited{
   background: linear-gradient(177deg,#66bc6a,#478d4c);
    transform:  scale(0.95) translate(2px);
    box-shadow: inset0 4px 6px rgba(0,0,0,4);

}
