/*cabesalio*/
header{
    margin: 0;
    padding: 10px;
    text-align: center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0d0f36;
    color: #f1f6ce;
    
}

/*corpo*/
body{
    margin: 0;
    
}

/*Estrutura Principal*/
main{
    padding: 10px;
    background: linear-gradient(#69d2cd,#b9f1d6,#f1f6ce);
}

/*Estrutura do Formulario*/
.container-form{
    padding: 10px;
    background-color: #294380;
    margin: 0;
    border-radius: 10px;
    
}

.container-form label, .container-form h2{
    color: #b9f1d6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
  background-color: #b9f1d6;
  color: #294380; 
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.btn:hover {
  background-color: #76e8af; 
}

.btn:active {
  background-color: #5bc0de; 
  transform: translateY(2px); 
}


input{
    width: 300px;
    height: 30px;
    border-radius: 8px;
}

.container-busca input{
    height: 30px;
}

.container-busca{
    
    border-radius: 10px;
    padding: 10px;
    background-color: #69d2cd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.container-busca label, .container-busca h2{
    
    color: #0d0f36;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/*Estrutura do Cards*/
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px; 
    border-radius: 10px;
    margin: 10px;
    padding: 16px;
}

.card-usuario {
    overflow-wrap: break-word;
    background-color: white;
    padding: 16px;
    margin: 20px;
    border-radius: 8px; 
    border: 1px solid #0d0f36; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-usuario:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/*Rodapé*/
footer p{
    
    text-align: center ;
    padding:50px;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0d0f36;
    color: #f1f6ce;
    
}



